.imghead {
  width: 500px;
  height: 350px;
}
h1 {
  font-family: arial, sans-serif;
  font-size: 37px;
  margin: 15px 15px 15px 15px;
  padding: 20px 20px 20px 20px;
}
body {
  text-align: center;
}
img {
  width: 250px;
}
h4 {
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}
article {
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 20px 15px;
  background-color: #D7E889;
  line-height: 1.5em;
}
.footer h3 {
  padding-bottom: 60px;
  font-family: arial, sans-serif;
  font-size: 27px;
}
h5 {
  font-style: italic;
  font-size: 16px;
}
